:root {
  --page: url("wrizz.png");
  --background: rgba(255, 255, 255, 0.07);
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #3c5a9f9e;
  --background-dark: #151629;
  --background-other: #151629;

  --title: #2c37d8;
  --block: #0e1520;
  --block-buttons: #13274e;
  --input: #444;
  --column: rgba(255, 255, 255, 0.07);
  --accent-color: #322a41;
  --main: #212845;

  --text-primary: #fff;
  --text-secondary: #b0b0b0;
  --text-placeholder: #aaa;
  --text-dark: #555;

  --transparent: rgb(0, 0, 0, 0);
}
